{% set i18n = section.extra.i18n %}
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# HTML Meta Tags (Generated via https://opengraph.dev) #}
  <title>{{ section.title }}</title>
  <meta name="description" content="{{ section.description }}">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ current_url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ section.title }}">
  <meta property="og:description" content="{{ section.description }}">
  <meta property="og:image" content="{{ i18n.social.preview_banner }}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{ config.base_url }}">
  <meta property="twitter:url" content="{{ current_url }}">
  <meta name="twitter:title" content="{{ section.title }}">
  <meta name="twitter:description" content="{{ section.description }}">
  <meta name="twitter:image" content="{{ i18n.social.preview_banner }}">

  {# Main CSS styling goes here, which is output by Tailwind #}
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body class="bg-blue-700">
  <nav class="flex justify-end pr-2 pt-2 md:pr-8 md:pt-4">
    <ul class="flex gap-2 right-4 text-lg text-yellow-100  font-playfair-display underline">
      <li>
        <a href="/?set-lang=en">English</a>
      </li>
      <li>|</li>
      <li>
        <a href="/it/?set-lang=it">Italiano</a>
      </li>
    </ul>
  </nav>
  <header class="max-w-7xl mx-auto">
    <h1 class="max-w-prose
      mx-4 mt-10 lg:mx-20
      flex flex-col
      gap-3">
      <span class="font-playfair-display text-[#FEF3C7]
      text-5xl sm:text-8xl lg:text-9xl">{{ i18n.heading }}</span>
      <span class="mt-8 lg:mt-20 font-playfair-display font-bold text-[#EE95F5]
      text-4xl sm:text-7xl lg:text-8xl">{{ i18n.subheading }}</span>
    </h1>
    <img class="w-full md:w-[110%] -mt-20 md:-mt-52 lg:-mt-64" src="/illo/demo-structure@0.5x.webp" alt="">
  </header>
  <article class="my-[8vh] mx-auto px-4 prose md:prose-xl prose-invert">
    {{ section.content | safe }}
  </article>
</body>

</html>