<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- HTML Meta Tags (Generated via https://opengraph.dev) -->
  <title>Co-op 🏘️: form submitted!</title>
  <meta name="description"
    content="I don't mind sharing, do you? I propose sharing the risk and splitting the reward. Get an apartment in Italy, by banding together and buying the whole building!">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://next-version.coop.pages.dev">
  <meta property="og:type" content="website">
  <meta property="og:title" content="I don't mind sharing, do you? Co-op's are a path to 🏡">
  <meta property="og:description"
    content="My name is Spence, and I want to form a group of people who are interested in buying a building together, so we can each have our own apartment and save $">
  <meta property="og:image" content="/illo/mockup_social-banner.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="next-version.coop.pages.dev">
  <meta property="twitter:url" content="https://next-version.coop.pages.dev">
  <meta name="twitter:title" content="I don't mind sharing, do you? Co-op's are a path to 🏡">
  <meta name="twitter:description"
    content="My name is Spence, and I want to form a group of people who are interested in buying a building together, so we can each have our own apartment and save $">
  <meta name="twitter:image" content="/illo/mockup_social-banner.jpg">

  {# Main CSS styling goes here, which is output by Tailwind #}
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body class="bg-blue-700 min-h-[100vh]">
  <header class="max-w-7xl mx-auto overflow-hidden">
  </header>
  <article class="my-[8vh] mx-auto px-4 prose md:prose-xl prose-invert text-center">
    {{ page.content | safe }}
  </article>
  {% include "footer.html" %}
</body>

</html>